<div class="col s12 tag-div">
    <div class="user-pic center-align">
        <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user2.jpg"></a>
    </div>
    <div class="user-intro center-align">
        <h4 class="hidden">飞得慢<span id="js-rotating">也要持续飞</span>加油</h4>
    </div>
    <div class="user-content center-align">
        <p>
            博主在传统行业待了，然后29岁鬼使神差误入算法坑。
        </p>
        <p>
            入坑3年，依然知之甚少，涉猎广而不精。
        </p>
        <p>
            如今建此站，
        </p>
        <p>
            望潜心研究自然语言大法！
        </p>
    </div>
</div>